{{define "root"}}{{.AppName}}


NEW SIGN-IN DETECTED

Warning

Your {{.AppName}} account was recently accessed from a new IP address or
browser. If you recognize this activity, no further action is required.

DETAILS

Approximate Location

{{.Data.City}}, {{.Data.Country}}

IP Address

{{.Data.IPAddress}}

Device

{{.Data.Device}}

Sign-In Time

{{.Data.DateTime.Format "January 2, 2006 at 3:04 PM MST"}}{{end}}