{{define "root"}}{{.AppName}}


YOUR LOGIN CODE

Click the button below to sign in to {{.AppName}} with a login code.
Or visit {{.Data.LoginLink}} {{.Data.LoginLink}} and enter the code
{{.Data.Code}}.

This code expires in {{.Data.ExpirationString}}.

Sign In {{.Data.LoginLinkWithCode}}{{end}}